body{
  background-color: #a8df65;
  text-align: center;

}
h1{
  font: tahoma;
  font-size: 3em;
}
.top-section{
  margin: 40px;
}
.mcqButton{
  display: block;
  width: 33%;
  background-color: #a8df65;
  }
  .mcqImg{
    width: 100%;
  }
